
<div class="list-group">
   <span class="list-group-item" ng-repeat="person in personlist | filter:search | orderBy:'last_name'" ng-click="editPerson(person)">
      <h4 class="list-group-item-heading">
         {{person.last_name | uppercase}}, {{person.first_name}} <small>{{person.email}}</small>
      </h4>
      <p class="list-group-item-text">
         {{person.day}}.{{person.month}}.{{person.year}}
      </p>
      <!-- stopPropagation to trigger only delete -->
      <button class="btn btn-danger btn-delete" ng-click="delete(person); $event.stopPropagation();">
        <i class="glyphicon glyphicon-trash" ></i>
        Poista
      </button>
   </span>
</div>

<div id ="modal">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Muokkaa henkilöä</h3>
    </div>
    <form name="myForm" class="form-horizontal" ng-submit="submitForm(myForm.$valid)" novalidate>
      <div class="panel-body">

        <fieldset>
        {{editedperson}}
        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="lastname">Sukunimi</label>
          <div class="controls">
            <input id="lastname" name="lastname" type="text" placeholder="Sukunimi" class="input-large" ng-model="editedperson.last_name" required>
            
            <span class="form-invalid" ng-show="myForm.lastname.$dirty && myForm.lastname.$invalid">
              <span ng-show="myForm.lastname.$error.required">Syötä sukunimi</span>
            </span>

          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="firstname">Etunimi</label>
          <div class="controls"> 
            <input id="firstname" name="firstname" type="text" placeholder="Etunimi" class="input-large" ng-model="editedperson.first_name" required>

            <span class="form-invalid" ng-show="myForm.firstname.$dirty && myForm.firstname.$invalid">
              <span ng-show="myForm.firstname.$error.required">Syötä etunimi</span>
            </span>

          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="socialid">Henkilötunnus</label>
          <div class="controls">
            <input id="socialid" name="socialid" type="text" placeholder="ppkkvvczzq" class="input-large" ng-model="editedperson.socialid" ng-pattern="/^\d{6}[A+-]\d{3}[0-9A-FHJ-NPR-Y]$/" required>

            <span class="form-invalid" ng-show="myForm.socialid.$dirty && myForm.socialid.$invalid">
              <span ng-show="myForm.socialid.$error.required">Syötä henkilötunnus</span>
              <span ng-show="myForm.socialid.$error.pattern">Tarkista henkilötunnus.</span>
            </span>
            
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="email">Sähköpostiosoite</label>
          <div class="controls">
            <input id="email" name="email" type="email" placeholder="Sähköpostiosoite" class="input-xxlarge" ng-model="editedperson.email" required>
            
            <span class="form-invalid" ng-show="myForm.email.$dirty && myForm.email.$invalid">
              <span ng-show="myForm.email.$error.required">Syötä sähköpostiosoite</span>
              <span ng-show="myForm.email.$error.email">Tarkista sähköpostiosoite.</span>
            </span>

          </div>
        </div>

        </fieldset>


      </div>
      <div class="panel-footer">
        <button class="btn btn-success" type="submit">Tallenna</button>
        <a class="btn btn-danger btn-link" ng-click="cancel()">Peruuta</a>
      </div>
    </form>
  </div>
</div>